[submodule "Vendor/BlocksKit"]
	path = Vendor/BlocksKit
	url = git://github.com/stonyw/BlocksKit.git
[submodule "Vendor/PSTCollectionView"]
	path = Vendor/PSTCollectionView
	url = git://github.com/stonyw/PSTCollectionView.git
[submodule "Vendor/CSLinearLayoutView"]
	path = Vendor/CSLinearLayoutView
	url = git://github.com/stonyw/CSLinearLayoutView.git
[submodule "Vendor/TTTAttributedLabel"]
	path = Vendor/TTTAttributedLabel
	url = git://github.com/stonyw/TTTAttributedLabel.git
[submodule "Vendor/TWReverseAuth"]
	path = Vendor/TWReverseAuth
	url = git://github.com/stonyw/TWReverseAuthSubmodule.git
[submodule "Vendor/libPhoneNumber-iOS"]
	path = Vendor/libPhoneNumber-iOS
	url = https://github.com/stonyw/libPhoneNumber-iOS.git
[submodule "Vendor/SocketRocket"]
	path = Vendor/SocketRocket
	url = https://github.com/0day2010/SocketRocket.git
[submodule "Vendor/RestKit"]
	path = Vendor/RestKit
	url = https://github.com/stonyw/RestKit.git
[submodule "Vendor/MKMapViewZoom"]
	path = Vendor/MKMapViewZoom
	url = https://github.com/0day2010/MKMapViewZoom.git
[submodule "PressDrag"]
	path = PressDrag
	url = https://github.com/0day2010/PressDrag.git
