[submodule "RestKit"]
	path = RestKit
	url = git://github.com/RestKit/RestKit.git
[submodule "Vendor/BlocksKit"]
	path = Vendor/BlocksKit
	url = git://github.com/stonyw/BlocksKit.git
[submodule "Vendor/PSTCollectionView"]
	path = Vendor/PSTCollectionView
	url = git://github.com/stonyw/PSTCollectionView.git
[submodule "Vendor/CSLinearLayoutView"]
	path = Vendor/CSLinearLayoutView
	url = git://github.com/stonyw/CSLinearLayoutView.git
[submodule "Vendor/TTTAttributedLabel"]
	path = Vendor/TTTAttributedLabel
	url = git://github.com/stonyw/TTTAttributedLabel.git
