[submodule "RestKit"]
	path = RestKit
	url = git://github.com/RestKit/RestKit.git
[submodule "Vendor/BlocksKit"]
	path = Vendor/BlocksKit
	url = git://github.com/pandamonia/BlocksKit.git
[submodule "Vendor/PSTCollectionView"]
	path = Vendor/PSTCollectionView
	url = git://github.com/steipete/PSTCollectionView.git
